/* Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */
:root {
  --primary-color: #ffbb00;
  --primary-color-lighter:#ffbb001e; 
  --light-text: #fafafa;
  --dark-text: #222222;
  --dark-bg: #222222;
  --light-bg: #fafafa;
}

* {
  font-family: 'Noto Sans', sans-serif;
  color: var(--dark-text);
  background-color: var(--light-bg);
  list-style: none;
  margin: 0;
  padding: 0;
}

